@font-face {
   font-family: "Soulmaker in the Mountains";
   src: url("../assets/Soulmaker in the Mountains.ttf") format("truetype");
}


@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

html {
   height: 100%;
   body {
      height: 100%;
      position: relative;
      padding: 0;
      div#bg {
         background-position: center center;
         background-size: cover;
         display: block;
         height: 100%;
         width: 100%;
         transform: translateZ(0);
         position: fixed;
         top: 0;
         left: 0;
         z-index: -1;
      }
      div#app {
         @include grid-container;
         width: 100%;
         height: 100%;
         margin: auto;
         margin-bottom: 1.6em;
         background-color: white;

         .header {
            h1 {
               font-size: modular-scale(1);
               @include grid-column(2 of 12);
            }
            h2 {
               @include grid-column(2 of 12);
            }
            * {
               color: white;
               line-height: 36px;
            }
            background-color: #2184FF;
            height: 36px;
            
         }

         }
      }

}